.btn {
  margin: 10px;
}

.list-group-item {
  cursor:default;
  text-decoration: none;
}
.list-group-item:hover {
  cursor:default;
  background-color: #17a2b8;
}
.container {
  max-width: 1500px;
  border: 1px solid #17a2b8;
}
